= form_for(@retro_item) do |f|
  = f.label :description
  = f.text_area :description
  = f.label :happiness
  = f.select :happiness, @statuses
  = f.submit 'Update Retro Item'
  %a= link_to 'Delete Retro Item', @retro_item, method: :delete, confirm: 'Positive about deleting?' 
  %a= link_to 'Cancel', retro_items_path
